{:description "Barbarian Adventuress",
 :category :character,
 :key "963963963",
 :limit {:trigger "To be made utterly helpless", :accrued 1},
 :supernal :melee,
 :rulebooks ["0" "242424"],
 :anima "A huge bear",
 :name "Alkaia",
 :abilities-additional [{:ability :craft, :rank 2, :description "Bladewright"}],
 :long-description "Of the Lykopis",
 :specialties [[:sail "Captiancy"] [:melee "Swords"] [:survival "Tracking"] [:larceny "Lockpicking"]],
 :type :solar,
 :crafting-slots [{:type :major, :contains "Dingy", :time-type :days, :time-required 10, :time-passed 3}],
 :abilities {:melee 5,
             :survival 3,
             :resistance 3,
             :brawl 3,
             :ride 1,
             :athletics 4,
             :archery 3,
             :integrity 3,
             :larceny 3,
             :sail 4},
 :willpower {:temporary 2, :max 4},
 :charms ["Wise Arrow" "Increasing Strength Exercise" "Fists of Iron Technique" "Ferocious Jab" "Heaven Thunder Hammer"],
 :last-accessed 0,
 :weapon-inventory [{:name "Great Sword", :category :mundane-weapons} {:name "Unarmed", :category :mundane-weapons}],
 :held-weapon {:name "Great Sword", :category :mundane-weapons},
 :essence {:rating 1,
           :motes-spent-personal 4,
           :motes-spent-peripheral 2,
           :motes-committed-peripheral 2,
           :motes-committed-personal 0},
 :player "Victoria Ham",
 :xp {:spent 55, :earned 60, :solar 0, :silver 3, :gold 2, :white 1},
 :health-module {:levels [3 1 4 5], :bashing 2, :lethal 1, :aggravated 3},
 :intimacies [{:type :principle, :severity :defining, :feeling "", :description "I am the strongest"}
              {:type :tie, :severity :major, :feeling "Thrill", :description "The wind at my sails"}
              {:type :tie, :severity :minor, :feeling "Disgust", :description "City folk"}
              {:type :tie, :severity :minor, :feeling "Distrust", :description "Rajmael"}],
 :favored-abilities [:archery :athletics :brawl :craft :integrity :larceny :melee :resistance :sail :survival],
 :attributes {:charisma 3,
              :perception 3,
              :intelligence 3,
              :stamina 3,
              :strength 4,
              :dexterity 4,
              :wits 3,
              :appearance 3,
              :manipulation 3},
 :owner "106295716847506101421",
 :img "https://i.imgur.com/no8PesX.jpg",
 :subtype :dawn,
 :merits []}